<div class="content-container" *ngIf="details">
  <ng-template [ngIf]="details.profile_path" [ngIfElse]="silhouette">
    <img
      class="details-img"
      src="https://image.tmdb.org/t/p/w342/{{ details.profile_path }}"
      alt="{{ details.title }} poster"
    />
  </ng-template>
  <ng-template #silhouette>
    <img
      class="details-img"
      src="https://cdn.pixabay.com/photo/2012/04/11/16/17/thinker-28741_960_720.png"
      alt="silhouette of a person"
    />
  </ng-template>
  <tbody>
    <tr>
      <td>
        <h1>{{ details.name }}</h1>
      </td>
    </tr>
    <tr *ngIf="details.known_for_department">
      <td> <p>Known for: {{ details.known_for_department }}</p> </td>
    </tr>
    <td> <p> Gender: {{ details.gender }}</p></td>
    <tr *ngIf="details.death">
      <td> <p>Death: {{ details.death }}</p> </td>
    </tr>
    <tr>
      <td> <p>Born: {{ details.birthday }}</p> </td>
    </tr>
    <tr *ngIf="details.place_of_birth">
      <td> <p>Place of birth: {{ details.place_of_birth }}</p> </td>
    </tr>
  </tbody>
  <div *ngIf="details.biography">
    <h2>Biography</h2>
    <p class="text-spacing">{{ details.biography }}</p>
  </div>
</div>
