<div *ngIf="details" class="content-container">
  <div class="content-container">
    <h1 class="title">{{ details.title }}</h1>
    <p *ngIf="details.tagline">{{ details.tagline }}</p>
    <p *ngIf="details.release_date">
      {{ details.status }} {{ details.release_date }}
    </p>
    <p *ngIf="details.vote_average" class="vote">
      Average Rating: {{ details.vote_average }}
    </p>
    <ng-template [ngIf]="details.poster_path" [ngIfElse]="silhouette">
      <img
        class="details-img"
        src="https://image.tmdb.org/t/p/w500/{{ details.poster_path }}"
        alt="{{ details.title }} poster"
      />
    </ng-template>

    <ng-template #silhouette>
      <img
        class="details-img"
        src="https://cdn.pixabay.com/photo/2012/04/11/16/17/thinker-28741_960_720.png"
        alt="silhouette of a person"
      />
    </ng-template>
    <br />
    <h2>Plot</h2>
    <p class="text-spacing">{{ details.overview }}</p>
    <p class="site">Runtime: {{ details.runtime }} min</p>
  </div>
  <div *ngIf="details['genres']">
    <p><strong>Genres</strong></p>
    <div *ngFor="let genre of details['genres']">
      <p>{{ genre["name"] }}</p>
    </div>
  </div>
  <p>Budget: {{ details.budget | currency }}</p>
  <p>Revenue: {{ details.revenue | currency }}</p>
  <p *ngIf="cred.cast">
    <strong>Actors</strong>
  </p>

  
  <ng-template [ngIf]="!showActorsAll" [ngIfElse]="allActors">
    <p *ngFor="let actor of cred.cast | slice: 0:10">
      {{ actor.name }}
    </p>
  </ng-template>

  <ng-template #allActors>
    <p *ngFor="let actor of cred.cast">
      {{ actor.name }}
    </p>
  </ng-template>

  <div *ngIf="cred.cast.length > 9">
    <div (click)="actorsToggle()" class="toggle-btn">
      {{ actorsToggleBtn }}
    </div>
  </div>
</div>
