<h1>Trending</h1>
<div *ngIf="movies" class="trending-container">
  <div *ngFor="let movie of movies['results']" class="poster-container">
    <!-- <a routerLink="/movie/{{ movie.id }}">
      {{ movie.original_title }}
    </a> -->

    <!-- <p class="release-date">{{ movie.release_date }}</p> -->
    <!-- <p class="vote">{{ movie.vote_average }}</p> -->
    <a routerLink="/movie/{{ movie.id }}" class="poster-link">
    <img
      class="poster"
      src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}"
      alt="{{ movie.title }} poster"
    />
  </a>

  </div>
</div>
