.search-img {
  width: 45px;
}

td {
  padding: 4px;
}

.search-option {
  background-color: rgba(24,26,27);
  border-color: rgba(54,63,72);
  color: white;
}

.form-control {
  background-color: rgba(24,26,27);
  border-color: rgba(54,63,72);
  color: white;

  // :focus {
  //   background: #005ccc;
  // }

  :hover {
    background: #005ccc;
  }
}

#searchOptions {
  background-color: rgba(24,26,27);
  color: white;
}

#searchOptions::selection {
  background-color: #005ccc;
}

form > div > input  {
  background-color: rgba(24,26,27);
  color: white;
}

.btn-submit {
  color: white;
  background-color: rgba(24,26,27);
  border: 2px solid rgba(133, 133, 133, 0.8);
  border-radius: 10px;
  margin-top: 10px;
}


// .vote-avg {
//   color: white;
// }

// .media-type {
//   color: white;
// }