<form (ngSubmit)="handleSearch()">
  <div class="search-option">
    <div class="form-group">
      <select
        name="searchOption"
        class="form-control"
        id="searchOptions"
        [(ngModel)]="searchOption"
      >
        <option *ngFor="let value of searchOptions" [value]="value">{{
          value
        }}</option>
      </select>
    </div>
  </div>

  <div>
    <input
      type="text"
      class="form-control"
      name="searchInput"
      required
      [(ngModel)]="searchInput"
    />
    <button type="submit" class="btn-submit">Search</button>
  </div>
</form>

<div *ngIf="searches">
  <tbody *ngFor="let search of searches['results']">
    <div *ngIf="search.media_type == 'movie' || searchOption == 'Movies'">
      <tr>
        <td>
          <ng-template [ngIf]="search.poster_path" [ngIfElse]="silhouette">
            <img
              class="search-img"
              src="https://image.tmdb.org/t/p/w45/{{ search.poster_path }}"
              alt="No image"
            />
          </ng-template>

          <ng-template #silhouette>
            <img
              class="search-img"
              src="https://cdn.pixabay.com/photo/2012/04/11/16/17/thinker-28741_960_720.png"
              alt="silhouette of a person"
            />
          </ng-template>
        </td>

        <td>
          <a routerLink="/movie/{{ search.id }}">
            {{ search.title }}
          </a>
          <p class="release-date">{{ search.release_date | date: "yyyy" }}</p>
        </td>

        <!-- <td class="vote-avg">{{ search.vote_average }}</td> -->
        <!-- <td class="media-type">{{ search.media_type | titlecase }}</td> -->
        <td></td>
      </tr>
    </div>

    <div *ngIf="search.media_type == 'tv' || searchOption == 'TV-Series'">
      <tr>
        <td>
          <ng-template [ngIf]="search.poster_path" [ngIfElse]="silhouette">
            <img
              class="search-img"
              src="https://image.tmdb.org/t/p/w45/{{ search.poster_path }}"
              alt="No image"
            />
          </ng-template>
          <ng-template #silhouette>
            <img
              class="search-img"
              src="https://cdn.pixabay.com/photo/2012/04/11/16/17/thinker-28741_960_720.png"
              alt="silhouette of a person"
            />
          </ng-template>
        </td>

        <td>
          <a routerLink="/tv/{{ search.id }}">
            {{ search.name }}
          </a>
          <p class="releaste-date">{{ search.first_air_date | date: "yyyy" }}</p>
        </td>

        <!-- <td class="vote-avg"> <p>{{ search.vote_average }}</p> </td> -->
        <!-- <td class="media-type"> <p>{{ search.media_type | titlecase }}</p> </td> -->
        <td></td>
      </tr>
    </div>

    <div *ngIf="search.media_type == 'person' || searchOption == 'People'">
      <tr>
        <td>
          <ng-template [ngIf]="search.profile_path" [ngIfElse]="silhouette">
            <img
              class="search-img"
              src="https://image.tmdb.org/t/p/w45/{{ search.profile_path }}"
              alt="No image"
            />
          </ng-template>
          <ng-template #silhouette>
            <img
              class="search-img"
              src="https://cdn.pixabay.com/photo/2012/04/11/16/17/thinker-28741_960_720.png"
              alt="silhouette of a person"
            />
          </ng-template>
        </td>

        <td>
          <a routerLink="/person/{{ search.id }}">
            {{ search.name }}
          </a>
        </td>
        <td> <p>{{ search.media_type | titlecase }}</p> </td>
      </tr>
    </div>
  </tbody>
</div>
