<form (ngSubmit)="handleSearch()">
  <div class="search-option">
    <div class="form-group">
      <select
        name="searchOption"
        class="form-control"
        id="searchOptions"
        [(ngModel)]="searchOption"
      >
        <option *ngFor="let value of searchOptions" [value]="value">{{
          value
        }}</option>
      </select>
    </div>
  </div>

  <div>
    <input
      type="text"
      class="form-control"
      name="searchInput"
      required
      [(ngModel)]="searchInput"
    />
    <button type="submit">Search</button>
  </div>
</form>

<div *ngIf="searches">
  <tbody *ngFor="let search of searches['results']">
    <div *ngIf="search.media_type == 'movie' || searchOption == 'Movies'">
      <tr>
        <td>
          <img
            src="https://image.tmdb.org/t/p/w45/{{ search.poster_path }}"
            alt="No image"
          />
        </td>

        <td>
          <a routerLink="/movie/{{ search.id }}">
            {{ search.title }}
          </a>
          {{ search.release_date | date: "yyyy" }}
        </td>

        <td>{{ search.vote_average }}</td>
        <td>{{ search.media_type }}</td>
        <td></td>
      </tr>
    </div>

    <div *ngIf="search.media_type == 'tv' || searchOption == 'TV-Series'">
      <tr>
        <td>
          <img
            src="https://image.tmdb.org/t/p/w45/{{ search.poster_path }}"
            alt="No image"
          />
        </td>

        <td>
          <a routerLink="/tv/{{ search.id }}">
            {{ search.name }}
          </a>
          {{ search.first_air_date | date: "yyyy" }}
        </td>

        <td>{{ search.vote_average }}</td>
        <td>{{ search.media_type }}</td>
        <td></td>
      </tr>
    </div>

    <div *ngIf="search.media_type == 'person' || searchOption == 'People'">
      <tr>
        <td>
          <img
            src="https://image.tmdb.org/t/p/w45/{{ search.profile_path }}"
            alt="No image"
          />
        </td>

        <td>
          <a routerLink="/person/{{ search.id }}">
            {{ search.name }}
          </a>
        </td>
        <td>{{ search.media_type }}</td>
        <td></td>
      </tr>
    </div>
  </tbody>
</div>
